@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #2c2b2b;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

}

body{
    height: 100vh;
    background-color: var(--body-color);
    transform: var(--tran-05);
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{
    width: 88px;
    transition: var(--tran-05);
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-05);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;

}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icons
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.header-text .profession{
    margin-top: -2px;
}


.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar .menu{
    margin-top: 35px;
}

.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
    
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icons,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icons,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;

}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-swith{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-swith .swith{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.swith::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .swith::before{
    left: 20px;
}

.first-section{
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.first-section .first-header{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.first-header{
    text-align: center;
}

.sidebar.close ~ .first-section{
    left: 88px;
    width: calc(100% - 88px);
}


.first-content{
    background: rgba(51, 200, 245, 0.696);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.first-content img{
    margin-top: 10rem;
    width: 30%;
    border-radius: 50%;
}

.first-content p{
    margin-top: 5rem;
    width: 40%;
    margin-bottom: 15%;
    color: var(--text-color);
}

/* .icons-container img{
    width: 5%;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 10%;
}

#first-icon{
    position: absolute;
    margin-top: -2%;
    animation: squreMoveFirst 10s infinite;
}

@keyframes squreMoveFirst{
    
    0%{
        transform: translateX(0);
        opacity: 0;
        transition: 2s;

    }
   25%{
        transform: translateY(1050%);
        opacity: 1;

    }
    50%{
        transform: translateX(1500%)translateY(1050%);
        opacity: 1;

    }
    75%{
        transform: translateX(1500%);
        opacity: 1;

    }
    100%{
        transform: translateX(-1%);
        opacity: 1;

        
    }
}

#second-icon{
    position: absolute;
    margin-top: -2%;
    animation: squreMoveSecond 10s infinite 3s;
}

@keyframes squreMoveSecond{
    
    0%{
        transform: translateX(0);
        opacity: 0;
        transition: 2s;

    }
   25%{
        transform: translateY(1050%);
        opacity: 1;

    }
    50%{
        transform: translateX(1500%)translateY(1050%);
        opacity: 1;

    }
    75%{
        transform: translateX(1500%);
        opacity: 1;

    }
    100%{
        transform: translateX(-1%);
        opacity: 1;

        
    }
}

#therd-icon{
    position: absolute;
    margin-top: -2%;
    animation: squreMoveTherd 10s infinite 5s;
}

@keyframes squreMoveTherd{
    
    0%{
        transform: translateX(0);
        opacity: 0;
        transition: 2s;

    }
   25%{
        transform: translateY(1050%);
        opacity: 1;

    }
    50%{
        transform: translateX(1500%)translateY(1050%);
        opacity: 1;

    }
    75%{
        transform: translateX(1500%);
        opacity: 1;

    }
    100%{
        transform: translateX(-1%);
        opacity: 1;

        
    }
}

#four-icon{
    position: absolute;
    margin-top: -2%;
    animation: squreMoveFour 10s infinite 7s;
}

@keyframes squreMoveFour{
    
    0%{
        transform: translateX(0);
        opacity: 0;
        transition: 2s;

    }
   25%{
        transform: translateY(1050%);
        opacity: 1;

    }
    50%{
        transform: translateX(1500%)translateY(1050%);
        opacity: 1;

    }
    75%{
        transform: translateX(1500%);
        opacity: 1;

    }
    100%{
        transform: translateX(-1%);
        opacity: 1;

        
    }
} */

.second-content{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 7%;
}

.second-header{
    color: var(--text-color);
    font-size: 30px;
    font-weight: 500;
    margin-top: 2%;
    padding: 2%;
}

.second-content p{
    width: 40%;
    color: var(--text-color);
}

.second-content img{
    width: 40%;
    padding: 2rem;
    border-radius: 3rem;
}

.therd-content .top-img{
    margin-top: 10%;
    
}

.therd-content img{
    border: 2px solid black;
    margin: 5px;
}

.therd-content{
    padding: 5%;
    background: rgba(51, 200, 245, 0.696);
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    margin-left: 6%;
    margin-top: 20%;
}

video{
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    margin: 1%;
    background:  #cfd9f4;
    width: 20%;
    height: 55vh;
    /* margin-top: 2%; */
    
}

source{
    width: 100vw;
}

.therd-header{
    position: absolute;
    color: var(--text-color);
    font-size: 40px;
    font-weight: 500;
    margin-top: -15%;
}

.four-section{
    display: flex;
    justify-content: center;
}

.slider-container{
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper{
    width: 80%;
    height: fit-content;
}

.swiper-slide img{
    border-radius: 20px;
    width: 100%;
}

.five-section{
    display: flex;
    justify-content: center;
}

.five-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color: rgba(51, 200, 245, 0.696);
    padding: 2%;
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    margin-left: 5%;


    /* grid-template-columns: repeat(2,1fr);
    align-items: center;
    background-color: #398F8D;
    padding: 2rem;
    border-radius: 1.5rem; */
}

.five-content h2, 
.five-content p{
    color: var(--text-color);
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.send_input{
    width: 25vw;
    height: 3.5rem;
    outline: none;
    border: none;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    text-align: center;
    padding: 9%;
    border-radius: 1rem;
    margin: 1%;
}

.send_input::placeholder{
    font-family: var(--body-font);
}

.form-button{
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.708);
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-weight: var(--font-semi-bold);
    transition: .3s;
    border: none;
}

.form-button:hover{
    background-color: rgb(11, 190, 250)
}

.social-media{
    display: flex;
    justify-content: space-around;
}

.social-media i:hover{
   color: var(--primary-color);
}

@media only screen and (max-width: 1024px){
    .second-content{
        margin-top: 10%;
    }

    .second-content img{
        width: 45%;
    }

    #first-icon{
        margin-top: -1%;
    }

    @keyframes squreMoveFirst{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1400%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(1700%)translateY(1400%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(1700%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }

    #second-icon{
        margin-top: -1%;
    }

    @keyframes squreMoveSecond{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1400%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(1700%)translateY(1400%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(1700%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }

    #therd-icon{
        margin-top: -1%;
    }

    @keyframes squreMoveTherd{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1400%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(1700%)translateY(1400%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(1700%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }

    #four-icon{
        margin-top: -1%;
    }

    @keyframes squreMoveFour{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1400%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(1700%)translateY(1400%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(1700%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }

    video{
        width: 25%;
        display: flex;
        align-items: center;
    }

  
}


@media only screen and (max-width: 768px){
    .first-content img{
        width: 40%;
    }

    .first-content p{
        width: 70%;
    }

    .second-content{
        margin-left: 5%;
    }

    .second-content p{
        width: 70%;
    }

    
    #first-icon{
        margin-top: -1%;
        margin-left: 12%;
    }

    @keyframes squreMoveFirst{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1460%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(1600%)translateY(1460%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(1600%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }

    #second-icon{
        margin-top: -1%;
        margin-left: 12%;
    }

    @keyframes squreMoveSecond{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1460%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(1600%)translateY(1460%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(1600%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }

    #therd-icon{
        margin-top: -1%;
        margin-left: 12%;
    }

    @keyframes squreMoveTherd{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1460%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(1600%)translateY(1460%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(1600%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }

    #four-icon{
        margin-top: -1%;
        margin-left: 12%;
    }

    @keyframes squreMoveFour{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1460%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(1600%)translateY(1460%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(1600%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }


    .therd-content{
        margin-left: 10%;
        padding: 8%;
    }

    .therd-header{
        margin-top: -20%;
    }

    video{
        width: 31%;
        display: flex;
        align-items: center;
    }

    .slider-container{
        width: 80%;
        margin-left: 10%;
    }

    .five-section{
        margin-left: 5%;
        /* padding: 5%; */
    }

    .send_input{
        width: 50vw;
    }

    .form-button{
        margin-top: -5%;
    }
}


@media only screen and (max-width: 426px){
    body{
        margin: 0;
        padding: 0;
        width: 85%;
    }


    .sidebar.close{
        width: 60px;
    }
    
    .sidebar li .icons{
        min-width: 60px;
        font-size: 20px;
        margin-left: -10px;
    }

    .first-section{
        margin-left: -12px;
    }

    #second-section{
        margin-left: -2%;
    }

    .therd-content{
        margin-left: 26px;
    }

    .four-section{
        margin-left: -5%;
    }

    .five-content{
        margin-left: -1%;
    }

    .icons:hover {
    color: var(--sidebar-color);
    margin-left: 40%;
}

    .first-header{
        width: 80vw;
    }

    .first-content{
        width: 80vw;
        height: 110vh;
        padding: 8%;
        border-bottom-left-radius: 5rem;
        border-bottom-right-radius: 5rem;
    }
    .first-content img{
        width: 70%;
        margin-top: 15%;
    }

    .first-content p{
        width: 85%;
        margin-left: -5%;
        text-align: right;
    }
    
    .second-section{
        margin-top: 65%;
        margin-left: 2%;
    }

    .second-content{
        margin-left: 18%;
        width: 100%;
    }

    .second-content img{
        width: 80%;
    }

    .second-content p{
        width: 75%;
        text-align: right;

    }

    #first-icon{
        width: 10%;
        margin-left: 20%;
        margin-top: -5%;
    }

    @keyframes squreMoveFirst{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1650%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(670%)translateY(1650%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(670%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }

    #second-icon{
        width: 10%;
        margin-left: 20%;
        margin-top: -5%;
    }

    @keyframes squreMoveSecond{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1650%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(670%)translateY(1650%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(670%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }

    #therd-icon{
        width: 10%;
        margin-left: 20%;
        margin-top: -5%;
    }

    @keyframes squreMoveTherd{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1650%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(670%)translateY(1650%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(670%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }

    #four-icon{
        width: 10%;
        margin-left: 20%;
        margin-top: -5%;
    }

    @keyframes squreMoveFour{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1650%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(670%)translateY(1650%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(670%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }


    .therd-section{
        width: 100%;
        margin-left: 15%;
        margin-top: 35%;
    }

    .therd-content{
        padding: 5%;
        border-top-right-radius: 4rem;
        border-top-left-radius: 4rem;
        border-bottom-right-radius: 4rem;
        border-bottom-left-radius: 4rem;
    }

    .therd-header{
        margin-top: -35%;
    }

    video{
        width: 75%;
        margin: 2%;
    }

    .slider-container{
        width: 100%;
        margin-left: 38%;
    }

    .five-section{
        margin-left: 19%;
        width: 100%;
    }

    .five-content{
        padding: 10%;
        border-top-right-radius: 20%;
        border-top-left-radius: 20%;
    }

    .send_input{
        width: 60vw;
    }

    .form-button{
        margin-top: -5%;
    }

}

@media only screen and (max-width: 391px){
    body{
        margin: 0;
        padding: 0;
    }

    .first-content{
        height: 80%;
    }

    .first-content img{
        width: 80%;
    }

    .second-content{
        margin-top: -70%;
    }

    @keyframes squreMoveFirst{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1900%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(670%)translateY(1900%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(670%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }

    @keyframes squreMoveSecond{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1900%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(670%)translateY(1900%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(670%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }

    @keyframes squreMoveTherd{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1900%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(670%)translateY(1900%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(670%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }


    @keyframes squreMoveFour{
    
        0%{
            transform: translateX(0);
            opacity: 0;
            transition: 2s;
    
        }
       25%{
            transform: translateY(1900%);
            opacity: 1;
    
        }
        50%{
            transform: translateX(670%)translateY(1900%);
            opacity: 1;
    
        }
        75%{
            transform: translateX(670%);
            opacity: 1;
    
        }
        100%{
            transform: translateX(-1%);
            opacity: 1;
    
            
        }
    }

    .therd-section{
        margin-top: 70%;
    }

    video{
        width: 60%;
        height: 30vh;
    }

    .slider-container{
        width: 110%;
        margin-left: 45%;
    }

    .five-content{
        padding: 10%;
        border-top-right-radius: 20%;
        border-top-left-radius: 20%;
        height: 50vh;
    }

    .five-content p{
        width: 30vh;
    } 
 
}








